[submodule "vim-fugitive"]
	path = pack/git-plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-surround"]
	path = pack/git-plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim-unimpaired"]
	path = pack/git-plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim-repeat"]
	path = pack/git-plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim-commentary"]
	path = pack/git-plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "ctrlp"]
	path = pack/git-plugins/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "pack/git-plugins/start/ale"]
	path = pack/git-plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/git-plugins/start/vim-terraform"]
	path = pack/git-plugins/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "pack/git-plugins/start/nerdtree"]
	path = pack/git-plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/git-plugins/start/editorconfig-vim"]
	path = pack/git-plugins/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "pack/git-plugins/start/vim-system-copy"]
	path = pack/git-plugins/start/vim-system-copy
	url = https://github.com/christoomey/vim-system-copy.git
[submodule "pack/git-plugins/start/vim-ack"]
	path = pack/git-plugins/start/vim-ack
	url = https://github.com/toranb/vim-ack.git
